{
  "openapi": "3.1.0",
  "info": {
    "title": "DeskBoy Data Access API",
    "version": "1.0.0",
    "description": "Read-only access to your booking data, for programmatic/polling use."
  },
  "servers": [
    {
      "url": "https://app.deskboy.app/api/data-access/v1"
    }
  ],
  "tags": [
    {
      "name": "Properties"
    },
    {
      "name": "Bookings"
    },
    {
      "name": "Documents"
    },
    {
      "name": "AADE declarations"
    },
    {
      "name": "Check-ins"
    },
    {
      "name": "Reports"
    },
    {
      "name": "Exports"
    },
    {
      "name": "Webhooks"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Data Access API key, created in Settings → Data access (API) (Bearer deskboy_data_...). Each operation lists the scope the key needs."
      }
    },
    "schemas": {
      "BookingCreatedEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Event id (evt_…). The same event always has the same id, also when it is sent again — use it to skip duplicates"
          },
          "type": {
            "type": "string",
            "enum": [
              "booking.created"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 — when the change happened, not when it was sent"
          },
          "tenantId": {
            "type": "string",
            "description": "Your account id"
          },
          "data": {
            "$ref": "#/components/schemas/BookingEventData"
          }
        },
        "required": [
          "id",
          "type",
          "createdAt",
          "tenantId",
          "data"
        ]
      },
      "BookingEventData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "externalBookingId": {
            "type": "string",
            "description": "The booking id at the booking provider"
          },
          "externalReservationId": {
            "type": [
              "string",
              "null"
            ],
            "description": "The reservation code at the channel"
          },
          "provider": {
            "type": [
              "string",
              "null"
            ],
            "description": "Booking provider (HOSTHUB, AIRBNB, …) — open set"
          },
          "channel": {
            "type": [
              "string",
              "null"
            ],
            "description": "Channel name as the provider reports it — open set"
          },
          "channelCode": {
            "type": [
              "string",
              "null"
            ],
            "description": "Normalised channel code (e.g. airbnb, booking.com)"
          },
          "propertyId": {
            "type": [
              "string",
              "null"
            ]
          },
          "propertyName": {
            "type": "string"
          },
          "checkinDate": {
            "type": "string",
            "format": "date",
            "description": "YYYY-MM-DD"
          },
          "checkoutDate": {
            "type": "string",
            "format": "date",
            "description": "YYYY-MM-DD"
          },
          "nights": {
            "type": "integer"
          },
          "guestCount": {
            "type": [
              "integer",
              "null"
            ]
          },
          "guestCountry": {
            "type": [
              "string",
              "null"
            ],
            "description": "The guest's country, as the booking provider reports it or as given at online check-in — usually ISO 3166-1 alpha-2"
          },
          "nationality": {
            "type": [
              "string",
              "null"
            ],
            "description": "ISO 3166-1 alpha-2, from the country code of the guest's phone number — not their nationality; it can differ from guestCountry"
          },
          "currency": {
            "type": "string"
          },
          "amountCents": {
            "type": "integer",
            "description": "Gross accommodation amount"
          },
          "amountBreakdown": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "bookingValueCents": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "totalPriceCents": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "guestPaidCents": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "taxesCents": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "cleaningFeeCents": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "otherFeeCents": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "serviceFeeHostCents": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "serviceFeeGuestCents": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "totalPayoutCents": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "ownerPayoutCents": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "paymentChargesCents": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "managerFeeCents": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "taxChannelCollectedChannelRemittedCents": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "taxChannelCollectedHostRemittedCents": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "taxHostCollectedHostRemittedCents": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "taxChannelSponsoredCents": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "nightFeeCents": {
                "type": "integer"
              },
              "nightCount": {
                "type": "integer"
              },
              "extraGuestFeeCents": {
                "type": "integer"
              },
              "hostServiceFeeCents": {
                "type": "integer"
              },
              "hostServiceFeePct": {
                "type": "number"
              },
              "vatOnServiceFeeCents": {
                "type": "integer"
              },
              "propertyUseTaxCents": {
                "type": "integer"
              },
              "totalHostPayoutCents": {
                "type": "integer"
              },
              "isLongStay": {
                "type": "boolean"
              },
              "currency": {
                "type": "string"
              }
            },
            "additionalProperties": false,
            "description": "The booking's amounts from the booking provider; on a split part, prorated to its nights. Keys ending in Cents are in cents. Not every booking has every key."
          },
          "manuallyCorrected": {
            "type": "boolean",
            "description": "Amount or departure corrected by hand — the corrected values are shown"
          },
          "cancelled": {
            "type": "boolean"
          },
          "cancelledAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time"
          },
          "cancellationFeeCents": {
            "type": [
              "integer",
              "null"
            ]
          },
          "split": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "parentId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "The booking this part was split from; null on the original"
              },
              "divided": {
                "type": "boolean",
                "description": "This row was split into parts — no document is issued on it"
              },
              "reason": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "segment": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "parentId",
              "divided",
              "reason",
              "segment"
            ],
            "description": "Stays across a year boundary or a climate-fee rate change are split. The original booking stays in the list with split.divided = true and still carries the full amount; its parts follow as their own rows with split.parentId. To sum amounts or follow documents, skip rows where split.divided is true. To count stays, count rows where split is null or split.parentId is null"
          },
          "invoicing": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "needs_setup",
                  "ready",
                  "issued",
                  "issued_with_errors",
                  "partially_issued",
                  "failed",
                  "split",
                  "awaiting_mydata",
                  "needs_review",
                  "issued_externally",
                  "unknown"
                ],
                "description": "- needs_setup: the property's invoicing settings need completing in DeskBoy\n- ready: the accommodation document has not been issued yet — also for cancelled, historical and future bookings\n- issued: all documents were issued\n- issued_with_errors: the accommodation document was issued; the payment receipt or the climate resilience fee receipt failed\n- partially_issued: not all of the booking's documents were issued — usually the accommodation document is still a draft\n- failed: issuing failed before the accommodation document was issued — see failedAt\n- split: the stay was split; documents are issued on its parts (see split)\n- awaiting_mydata: the accommodation document was issued; the climate resilience fee receipt follows once myDATA registers it\n- needs_review: held for review — the booking in DeskBoy shows why\n- issued_externally: the accommodation document was issued outside DeskBoy, so it is not in /documents\n- unknown: a newer status not listed here",
                "x-enumDescriptions": {
                  "needs_setup": "the property's invoicing settings need completing in DeskBoy",
                  "ready": "the accommodation document has not been issued yet — also for cancelled, historical and future bookings",
                  "issued": "all documents were issued",
                  "issued_with_errors": "the accommodation document was issued; the payment receipt or the climate resilience fee receipt failed",
                  "partially_issued": "not all of the booking's documents were issued — usually the accommodation document is still a draft",
                  "failed": "issuing failed before the accommodation document was issued — see failedAt",
                  "split": "the stay was split; documents are issued on its parts (see split)",
                  "awaiting_mydata": "the accommodation document was issued; the climate resilience fee receipt follows once myDATA registers it",
                  "needs_review": "held for review — the booking in DeskBoy shows why",
                  "issued_externally": "the accommodation document was issued outside DeskBoy, so it is not in /documents",
                  "unknown": "a newer status not listed here"
                }
              },
              "documentType": {
                "type": "string",
                "enum": [
                  "receipt",
                  "invoice"
                ]
              },
              "skipped": {
                "type": "boolean",
                "description": "Skipped by hand (also when its AADE declaration is skipped), or because its channel or property was turned Off — DeskBoy does not invoice or declare it while skipped"
              },
              "issuedAt": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date-time",
                "description": "ISO 8601 date-time"
              },
              "failedAt": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date-time",
                "description": "ISO 8601 date-time"
              }
            },
            "required": [
              "status",
              "documentType",
              "skipped",
              "issuedAt",
              "failedAt"
            ]
          },
          "historicalImport": {
            "type": "boolean"
          },
          "bookedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time"
          },
          "guestName": {
            "type": [
              "string",
              "null"
            ],
            "description": "Only when guest details are turned on for this webhook"
          },
          "guestEmail": {
            "type": [
              "string",
              "null"
            ],
            "description": "Only when guest details are turned on for this webhook"
          },
          "guestPhone": {
            "type": [
              "string",
              "null"
            ],
            "description": "Only when guest details are turned on for this webhook"
          }
        },
        "required": [
          "id",
          "externalBookingId",
          "externalReservationId",
          "provider",
          "channel",
          "channelCode",
          "propertyId",
          "propertyName",
          "checkinDate",
          "checkoutDate",
          "nights",
          "guestCount",
          "guestCountry",
          "nationality",
          "currency",
          "amountCents",
          "amountBreakdown",
          "manuallyCorrected",
          "cancelled",
          "cancelledAt",
          "cancellationFeeCents",
          "split",
          "invoicing",
          "historicalImport",
          "bookedAt",
          "createdAt",
          "updatedAt"
        ],
        "description": "The same record as GET /bookings/{id}, as it is when the event is sent"
      },
      "BookingUpdatedEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Event id (evt_…). The same event always has the same id, also when it is sent again — use it to skip duplicates"
          },
          "type": {
            "type": "string",
            "enum": [
              "booking.updated"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 — when the change happened, not when it was sent"
          },
          "tenantId": {
            "type": "string",
            "description": "Your account id"
          },
          "data": {
            "$ref": "#/components/schemas/BookingEventData"
          }
        },
        "required": [
          "id",
          "type",
          "createdAt",
          "tenantId",
          "data"
        ]
      },
      "BookingCancelledEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Event id (evt_…). The same event always has the same id, also when it is sent again — use it to skip duplicates"
          },
          "type": {
            "type": "string",
            "enum": [
              "booking.cancelled"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 — when the change happened, not when it was sent"
          },
          "tenantId": {
            "type": "string",
            "description": "Your account id"
          },
          "data": {
            "$ref": "#/components/schemas/BookingEventData"
          }
        },
        "required": [
          "id",
          "type",
          "createdAt",
          "tenantId",
          "data"
        ]
      },
      "CheckoutInvoicedEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Event id (evt_…). The same event always has the same id, also when it is sent again — use it to skip duplicates"
          },
          "type": {
            "type": "string",
            "enum": [
              "checkout.invoiced"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 — when the change happened, not when it was sent"
          },
          "tenantId": {
            "type": "string",
            "description": "Your account id"
          },
          "data": {
            "$ref": "#/components/schemas/BookingEventData"
          }
        },
        "required": [
          "id",
          "type",
          "createdAt",
          "tenantId",
          "data"
        ]
      },
      "CheckoutFailedEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Event id (evt_…). The same event always has the same id, also when it is sent again — use it to skip duplicates"
          },
          "type": {
            "type": "string",
            "enum": [
              "checkout.failed"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 — when the change happened, not when it was sent"
          },
          "tenantId": {
            "type": "string",
            "description": "Your account id"
          },
          "data": {
            "$ref": "#/components/schemas/BookingEventData"
          }
        },
        "required": [
          "id",
          "type",
          "createdAt",
          "tenantId",
          "data"
        ]
      },
      "CheckinCompletedEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Event id (evt_…). The same event always has the same id, also when it is sent again — use it to skip duplicates"
          },
          "type": {
            "type": "string",
            "enum": [
              "checkin.completed"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 — when the change happened, not when it was sent"
          },
          "tenantId": {
            "type": "string",
            "description": "Your account id"
          },
          "data": {
            "$ref": "#/components/schemas/CheckinEventData"
          }
        },
        "required": [
          "id",
          "type",
          "createdAt",
          "tenantId",
          "data"
        ]
      },
      "CheckinEventData": {
        "type": "object",
        "properties": {
          "bookingId": {
            "type": "string"
          },
          "propertyId": {
            "type": [
              "string",
              "null"
            ]
          },
          "propertyName": {
            "type": "string"
          },
          "checkinDate": {
            "type": "string",
            "format": "date",
            "description": "YYYY-MM-DD"
          },
          "checkoutDate": {
            "type": "string",
            "format": "date",
            "description": "YYYY-MM-DD"
          },
          "cancelled": {
            "type": "boolean"
          },
          "status": {
            "type": "string",
            "enum": [
              "completed",
              "pending"
            ],
            "description": "completed: check-in is done — online by the guest, or marked by the host (see completedAt) · pending: check-in not completed — also for past and cancelled stays",
            "x-enumDescriptions": {
              "completed": "check-in is done — online by the guest, or marked by the host (see completedAt)",
              "pending": "check-in not completed — also for past and cancelled stays"
            }
          },
          "completedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time"
          },
          "arrivalTime": {
            "type": [
              "string",
              "null"
            ],
            "description": "HH:mm, in the property's local time. Until online check-in is completed, the check-in time from the booking provider, where it sends one"
          },
          "departureTime": {
            "type": [
              "string",
              "null"
            ],
            "description": "HH:mm, in the property's local time. Until online check-in is completed, the check-out time from the booking provider, where it sends one"
          },
          "requests": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time"
          },
          "phone": {
            "type": [
              "string",
              "null"
            ],
            "description": "Only when guest details are turned on for this webhook"
          },
          "additionalGuests": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "firstName": {
                  "type": "string"
                },
                "lastName": {
                  "type": "string"
                }
              },
              "required": [
                "firstName",
                "lastName"
              ]
            },
            "description": "Only when guest details are turned on for this webhook"
          },
          "notes": {
            "type": [
              "string",
              "null"
            ],
            "description": "Only when guest details are turned on for this webhook"
          }
        },
        "required": [
          "bookingId",
          "propertyId",
          "propertyName",
          "checkinDate",
          "checkoutDate",
          "cancelled",
          "status",
          "completedAt",
          "arrivalTime",
          "departureTime",
          "requests",
          "updatedAt"
        ],
        "description": "The same record as GET /checkins, as it is when the event is sent"
      },
      "AadeDeclarationSubmittedEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Event id (evt_…). The same event always has the same id, also when it is sent again — use it to skip duplicates"
          },
          "type": {
            "type": "string",
            "enum": [
              "aade.declaration.submitted"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 — when the change happened, not when it was sent"
          },
          "tenantId": {
            "type": "string",
            "description": "Your account id"
          },
          "data": {
            "$ref": "#/components/schemas/AadeDeclarationEventData"
          }
        },
        "required": [
          "id",
          "type",
          "createdAt",
          "tenantId",
          "data"
        ]
      },
      "AadeDeclarationEventData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "externalBookingId": {
            "type": "string",
            "description": "Matches externalBookingId in /bookings"
          },
          "propertyId": {
            "type": "string"
          },
          "propertyName": {
            "type": [
              "string",
              "null"
            ]
          },
          "ama": {
            "type": [
              "string",
              "null"
            ],
            "description": "Property registry number (ΑΜΑ)"
          },
          "channel": {
            "type": [
              "string",
              "null"
            ]
          },
          "checkinDate": {
            "type": "string",
            "format": "date",
            "description": "YYYY-MM-DD"
          },
          "checkoutDate": {
            "type": "string",
            "format": "date",
            "description": "YYYY-MM-DD"
          },
          "cancellation": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "date": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date",
                "description": "The cancellation day (Greek time)"
              },
              "retainedAmountCents": {
                "type": "integer",
                "description": "The retained amount; 0 means nothing to declare"
              }
            },
            "required": [
              "date",
              "retainedAmountCents"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "processing",
              "submitted",
              "failed",
              "cancelling",
              "unknown"
            ],
            "description": "draft: not yet sent to AADE · processing: already sent to AADE and awaiting its answer · submitted: declared — see aadeDeclarationNumber · failed: the submission failed — see error · cancelling: being withdrawn before submission; it leaves the list once AADE confirms, or becomes submitted if AADE refuses · unknown: a newer status not listed here",
            "x-enumDescriptions": {
              "draft": "not yet sent to AADE",
              "processing": "already sent to AADE and awaiting its answer",
              "submitted": "declared — see aadeDeclarationNumber",
              "failed": "the submission failed — see error",
              "cancelling": "being withdrawn before submission; it leaves the list once AADE confirms, or becomes submitted if AADE refuses",
              "unknown": "a newer status not listed here"
            }
          },
          "skipped": {
            "type": "boolean"
          },
          "deadline": {
            "type": [
              "string",
              "null"
            ],
            "format": "date",
            "description": "The 20th of the month after departure (or cancellation)"
          },
          "submittedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time"
          },
          "declaredAmountCents": {
            "type": [
              "integer",
              "null"
            ],
            "description": "The amount as declared; null before submission"
          },
          "aadeDeclarationNumber": {
            "type": [
              "string",
              "null"
            ]
          },
          "aadeProtocolNumber": {
            "type": [
              "string",
              "null"
            ]
          },
          "receiptAvailable": {
            "type": "boolean"
          },
          "error": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "class": {
                "type": "string",
                "enum": [
                  "transient",
                  "permanent",
                  "unknown"
                ],
                "description": "transient: a temporary problem — a new attempt usually succeeds · permanent: needs someone to check it before any new attempt (e.g. AADE credentials or the declaration's details) · unknown: the cause could not be classified",
                "x-enumDescriptions": {
                  "transient": "a temporary problem — a new attempt usually succeeds",
                  "permanent": "needs someone to check it before any new attempt (e.g. AADE credentials or the declaration's details)",
                  "unknown": "the cause could not be classified"
                }
              },
              "code": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "class",
              "code"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time"
          }
        },
        "required": [
          "id",
          "externalBookingId",
          "propertyId",
          "propertyName",
          "ama",
          "channel",
          "checkinDate",
          "checkoutDate",
          "cancellation",
          "status",
          "skipped",
          "deadline",
          "submittedAt",
          "declaredAmountCents",
          "aadeDeclarationNumber",
          "aadeProtocolNumber",
          "receiptAvailable",
          "error",
          "createdAt",
          "updatedAt"
        ],
        "description": "The same record as GET /aade/declarations/{id}, as it is when the event is sent"
      },
      "AadeDeclarationFailedEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Event id (evt_…). The same event always has the same id, also when it is sent again — use it to skip duplicates"
          },
          "type": {
            "type": "string",
            "enum": [
              "aade.declaration.failed"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 — when the change happened, not when it was sent"
          },
          "tenantId": {
            "type": "string",
            "description": "Your account id"
          },
          "data": {
            "$ref": "#/components/schemas/AadeDeclarationEventData"
          }
        },
        "required": [
          "id",
          "type",
          "createdAt",
          "tenantId",
          "data"
        ]
      },
      "PropertyPage": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Property"
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass as cursor for the next page; null on the last page"
          }
        },
        "required": [
          "data",
          "nextCursor"
        ]
      },
      "Property": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "provider": {
            "type": [
              "string",
              "null"
            ],
            "description": "Booking provider of the connection (HOSTHUB, AIRBNB, …)"
          },
          "externalId": {
            "type": "string",
            "description": "The property id at the booking provider"
          },
          "paused": {
            "type": "boolean",
            "description": "Turned Off in Settings — not invoiced automatically"
          },
          "city": {
            "type": [
              "string",
              "null"
            ]
          },
          "countryCode": {
            "type": [
              "string",
              "null"
            ]
          },
          "timezone": {
            "type": [
              "string",
              "null"
            ]
          },
          "maximumGuests": {
            "type": [
              "integer",
              "null"
            ]
          },
          "bedrooms": {
            "type": [
              "integer",
              "null"
            ]
          },
          "baths": {
            "type": [
              "number",
              "null"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time"
          }
        },
        "required": [
          "id",
          "name",
          "provider",
          "externalId",
          "paused",
          "city",
          "countryCode",
          "timezone",
          "maximumGuests",
          "bedrooms",
          "baths",
          "createdAt",
          "updatedAt"
        ]
      },
      "ApiError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "enum": [
              "unauthorized",
              "insufficient_scope",
              "feature_not_in_plan",
              "not_found",
              "export_expired",
              "invalid_params",
              "rate_limit_exceeded",
              "daily_limit_exceeded",
              "error_budget_exceeded",
              "payload_too_large",
              "method_not_allowed",
              "gone",
              "internal_error"
            ],
            "description": "Stable error code — match on this"
          },
          "message": {
            "type": "string",
            "description": "Human-readable explanation — may change; never match on it"
          },
          "details": {
            "type": "object",
            "properties": {
              "requiredScope": {
                "type": "string",
                "description": "The scope this API key needs"
              },
              "fields": {
                "type": "object",
                "additionalProperties": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ParamError"
                  }
                },
                "description": "What is wrong, per parameter. A rule that involves more than one parameter is reported under the one listed last (e.g. to, checkoutTo)"
              }
            },
            "description": "insufficient_scope: { requiredScope }. invalid_params: { fields }"
          }
        },
        "required": [
          "error",
          "message"
        ]
      },
      "ParamError": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "enum": [
              "required",
              "invalid_type",
              "invalid_format",
              "invalid_value",
              "too_small",
              "too_big",
              "invalid_range"
            ],
            "description": "- required: a required parameter is missing\n- invalid_type: the value has the wrong type (e.g. text where a number is expected)\n- invalid_format: the value has the wrong format (e.g. a date that is not YYYY-MM-DD)\n- invalid_value: the value is not accepted (e.g. not one of the allowed values, or a parameter that cannot be combined with another)\n- too_small: below the minimum (a number, or the length of a text)\n- too_big: above the maximum\n- invalid_range: the range is not valid (e.g. checkoutFrom after checkoutTo, or a longer period than allowed)",
            "x-enumDescriptions": {
              "required": "a required parameter is missing",
              "invalid_type": "the value has the wrong type (e.g. text where a number is expected)",
              "invalid_format": "the value has the wrong format (e.g. a date that is not YYYY-MM-DD)",
              "invalid_value": "the value is not accepted (e.g. not one of the allowed values, or a parameter that cannot be combined with another)",
              "too_small": "below the minimum (a number, or the length of a text)",
              "too_big": "above the maximum",
              "invalid_range": "the range is not valid (e.g. checkoutFrom after checkoutTo, or a longer period than allowed)"
            }
          },
          "message": {
            "type": "string",
            "description": "Human-readable explanation — may change; never match on it"
          }
        },
        "required": [
          "code",
          "message"
        ]
      },
      "BookingPage": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Booking"
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass as cursor for the next page; null on the last page"
          }
        },
        "required": [
          "data",
          "nextCursor"
        ]
      },
      "Booking": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "externalBookingId": {
            "type": "string",
            "description": "The booking id at the booking provider"
          },
          "externalReservationId": {
            "type": [
              "string",
              "null"
            ],
            "description": "The reservation code at the channel"
          },
          "provider": {
            "type": [
              "string",
              "null"
            ],
            "description": "Booking provider (HOSTHUB, AIRBNB, …) — open set"
          },
          "channel": {
            "type": [
              "string",
              "null"
            ],
            "description": "Channel name as the provider reports it — open set"
          },
          "channelCode": {
            "type": [
              "string",
              "null"
            ],
            "description": "Normalised channel code (e.g. airbnb, booking.com)"
          },
          "propertyId": {
            "type": [
              "string",
              "null"
            ]
          },
          "propertyName": {
            "type": "string"
          },
          "checkinDate": {
            "type": "string",
            "format": "date",
            "description": "YYYY-MM-DD"
          },
          "checkoutDate": {
            "type": "string",
            "format": "date",
            "description": "YYYY-MM-DD"
          },
          "nights": {
            "type": "integer"
          },
          "guestCount": {
            "type": [
              "integer",
              "null"
            ]
          },
          "guestCountry": {
            "type": [
              "string",
              "null"
            ],
            "description": "The guest's country, as the booking provider reports it or as given at online check-in — usually ISO 3166-1 alpha-2"
          },
          "nationality": {
            "type": [
              "string",
              "null"
            ],
            "description": "ISO 3166-1 alpha-2, from the country code of the guest's phone number — not their nationality; it can differ from guestCountry"
          },
          "currency": {
            "type": "string"
          },
          "amountCents": {
            "type": "integer",
            "description": "Gross accommodation amount"
          },
          "amountBreakdown": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "bookingValueCents": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "totalPriceCents": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "guestPaidCents": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "taxesCents": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "cleaningFeeCents": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "otherFeeCents": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "serviceFeeHostCents": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "serviceFeeGuestCents": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "totalPayoutCents": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "ownerPayoutCents": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "paymentChargesCents": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "managerFeeCents": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "taxChannelCollectedChannelRemittedCents": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "taxChannelCollectedHostRemittedCents": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "taxHostCollectedHostRemittedCents": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "taxChannelSponsoredCents": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "nightFeeCents": {
                "type": "integer"
              },
              "nightCount": {
                "type": "integer"
              },
              "extraGuestFeeCents": {
                "type": "integer"
              },
              "hostServiceFeeCents": {
                "type": "integer"
              },
              "hostServiceFeePct": {
                "type": "number"
              },
              "vatOnServiceFeeCents": {
                "type": "integer"
              },
              "propertyUseTaxCents": {
                "type": "integer"
              },
              "totalHostPayoutCents": {
                "type": "integer"
              },
              "isLongStay": {
                "type": "boolean"
              },
              "currency": {
                "type": "string"
              }
            },
            "additionalProperties": false,
            "description": "The booking's amounts from the booking provider; on a split part, prorated to its nights. Keys ending in Cents are in cents. Not every booking has every key."
          },
          "manuallyCorrected": {
            "type": "boolean",
            "description": "Amount or departure corrected by hand — the corrected values are shown"
          },
          "cancelled": {
            "type": "boolean"
          },
          "cancelledAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time"
          },
          "cancellationFeeCents": {
            "type": [
              "integer",
              "null"
            ]
          },
          "split": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "parentId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "The booking this part was split from; null on the original"
              },
              "divided": {
                "type": "boolean",
                "description": "This row was split into parts — no document is issued on it"
              },
              "reason": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "segment": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "parentId",
              "divided",
              "reason",
              "segment"
            ],
            "description": "Stays across a year boundary or a climate-fee rate change are split. The original booking stays in the list with split.divided = true and still carries the full amount; its parts follow as their own rows with split.parentId. To sum amounts or follow documents, skip rows where split.divided is true. To count stays, count rows where split is null or split.parentId is null"
          },
          "invoicing": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "needs_setup",
                  "ready",
                  "issued",
                  "issued_with_errors",
                  "partially_issued",
                  "failed",
                  "split",
                  "awaiting_mydata",
                  "needs_review",
                  "issued_externally",
                  "unknown"
                ],
                "description": "- needs_setup: the property's invoicing settings need completing in DeskBoy\n- ready: the accommodation document has not been issued yet — also for cancelled, historical and future bookings\n- issued: all documents were issued\n- issued_with_errors: the accommodation document was issued; the payment receipt or the climate resilience fee receipt failed\n- partially_issued: not all of the booking's documents were issued — usually the accommodation document is still a draft\n- failed: issuing failed before the accommodation document was issued — see failedAt\n- split: the stay was split; documents are issued on its parts (see split)\n- awaiting_mydata: the accommodation document was issued; the climate resilience fee receipt follows once myDATA registers it\n- needs_review: held for review — the booking in DeskBoy shows why\n- issued_externally: the accommodation document was issued outside DeskBoy, so it is not in /documents\n- unknown: a newer status not listed here",
                "x-enumDescriptions": {
                  "needs_setup": "the property's invoicing settings need completing in DeskBoy",
                  "ready": "the accommodation document has not been issued yet — also for cancelled, historical and future bookings",
                  "issued": "all documents were issued",
                  "issued_with_errors": "the accommodation document was issued; the payment receipt or the climate resilience fee receipt failed",
                  "partially_issued": "not all of the booking's documents were issued — usually the accommodation document is still a draft",
                  "failed": "issuing failed before the accommodation document was issued — see failedAt",
                  "split": "the stay was split; documents are issued on its parts (see split)",
                  "awaiting_mydata": "the accommodation document was issued; the climate resilience fee receipt follows once myDATA registers it",
                  "needs_review": "held for review — the booking in DeskBoy shows why",
                  "issued_externally": "the accommodation document was issued outside DeskBoy, so it is not in /documents",
                  "unknown": "a newer status not listed here"
                }
              },
              "documentType": {
                "type": "string",
                "enum": [
                  "receipt",
                  "invoice"
                ]
              },
              "skipped": {
                "type": "boolean",
                "description": "Skipped by hand (also when its AADE declaration is skipped), or because its channel or property was turned Off — DeskBoy does not invoice or declare it while skipped"
              },
              "issuedAt": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date-time",
                "description": "ISO 8601 date-time"
              },
              "failedAt": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date-time",
                "description": "ISO 8601 date-time"
              }
            },
            "required": [
              "status",
              "documentType",
              "skipped",
              "issuedAt",
              "failedAt"
            ]
          },
          "historicalImport": {
            "type": "boolean"
          },
          "bookedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time"
          },
          "guestName": {
            "type": [
              "string",
              "null"
            ],
            "description": "Only for keys with the read:pii scope"
          },
          "guestEmail": {
            "type": [
              "string",
              "null"
            ],
            "description": "Only for keys with the read:pii scope"
          },
          "guestPhone": {
            "type": [
              "string",
              "null"
            ],
            "description": "Only for keys with the read:pii scope"
          }
        },
        "required": [
          "id",
          "externalBookingId",
          "externalReservationId",
          "provider",
          "channel",
          "channelCode",
          "propertyId",
          "propertyName",
          "checkinDate",
          "checkoutDate",
          "nights",
          "guestCount",
          "guestCountry",
          "nationality",
          "currency",
          "amountCents",
          "amountBreakdown",
          "manuallyCorrected",
          "cancelled",
          "cancelledAt",
          "cancellationFeeCents",
          "split",
          "invoicing",
          "historicalImport",
          "bookedAt",
          "createdAt",
          "updatedAt"
        ]
      },
      "DocumentPage": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Document"
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass as cursor for the next page; null on the last page"
          }
        },
        "required": [
          "data",
          "nextCursor"
        ]
      },
      "Document": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Opaque — the same document always has the same id"
          },
          "type": {
            "type": "string",
            "enum": [
              "service_receipt",
              "service_invoice",
              "payment_receipt",
              "climate_fee_receipt"
            ]
          },
          "provider": {
            "type": "string",
            "description": "Invoicing provider (ELORUS, KISSBILL) — open set"
          },
          "providerDocumentId": {
            "type": "string"
          },
          "bookingId": {
            "type": "string"
          },
          "propertyId": {
            "type": [
              "string",
              "null"
            ]
          },
          "issueDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date",
            "description": "Climate resilience fee receipts only"
          },
          "amountCents": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Climate resilience fee receipts only"
          },
          "currency": {
            "type": [
              "string",
              "null"
            ]
          },
          "climateFee": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "season": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "nights": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "periodFrom": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date",
                "description": "YYYY-MM-DD"
              },
              "periodTo": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date",
                "description": "YYYY-MM-DD"
              }
            },
            "required": [
              "season",
              "nights",
              "periodFrom",
              "periodTo"
            ]
          },
          "recordedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "When the document was recorded as issued. null on climate resilience fee receipts (see issueDate), and on other documents while their booking is awaiting_mydata or needs_review"
          },
          "permalink": {
            "type": [
              "string",
              "null"
            ],
            "description": "Only for keys with the read:pii scope"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time"
          }
        },
        "required": [
          "id",
          "type",
          "provider",
          "providerDocumentId",
          "bookingId",
          "propertyId",
          "issueDate",
          "amountCents",
          "currency",
          "climateFee",
          "recordedAt",
          "updatedAt"
        ]
      },
      "AadeDeclarationPage": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AadeDeclaration"
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass as cursor for the next page; null on the last page"
          }
        },
        "required": [
          "data",
          "nextCursor"
        ]
      },
      "AadeDeclaration": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "externalBookingId": {
            "type": "string",
            "description": "Matches externalBookingId in /bookings"
          },
          "propertyId": {
            "type": "string"
          },
          "propertyName": {
            "type": [
              "string",
              "null"
            ]
          },
          "ama": {
            "type": [
              "string",
              "null"
            ],
            "description": "Property registry number (ΑΜΑ)"
          },
          "channel": {
            "type": [
              "string",
              "null"
            ]
          },
          "checkinDate": {
            "type": "string",
            "format": "date",
            "description": "YYYY-MM-DD"
          },
          "checkoutDate": {
            "type": "string",
            "format": "date",
            "description": "YYYY-MM-DD"
          },
          "cancellation": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "date": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date",
                "description": "The cancellation day (Greek time)"
              },
              "retainedAmountCents": {
                "type": "integer",
                "description": "The retained amount; 0 means nothing to declare"
              }
            },
            "required": [
              "date",
              "retainedAmountCents"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "processing",
              "submitted",
              "failed",
              "cancelling",
              "unknown"
            ],
            "description": "draft: not yet sent to AADE · processing: already sent to AADE and awaiting its answer · submitted: declared — see aadeDeclarationNumber · failed: the submission failed — see error · cancelling: being withdrawn before submission; it leaves the list once AADE confirms, or becomes submitted if AADE refuses · unknown: a newer status not listed here",
            "x-enumDescriptions": {
              "draft": "not yet sent to AADE",
              "processing": "already sent to AADE and awaiting its answer",
              "submitted": "declared — see aadeDeclarationNumber",
              "failed": "the submission failed — see error",
              "cancelling": "being withdrawn before submission; it leaves the list once AADE confirms, or becomes submitted if AADE refuses",
              "unknown": "a newer status not listed here"
            }
          },
          "skipped": {
            "type": "boolean"
          },
          "deadline": {
            "type": [
              "string",
              "null"
            ],
            "format": "date",
            "description": "The 20th of the month after departure (or cancellation)"
          },
          "submittedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time"
          },
          "declaredAmountCents": {
            "type": [
              "integer",
              "null"
            ],
            "description": "The amount as declared; null before submission"
          },
          "aadeDeclarationNumber": {
            "type": [
              "string",
              "null"
            ]
          },
          "aadeProtocolNumber": {
            "type": [
              "string",
              "null"
            ]
          },
          "receiptAvailable": {
            "type": "boolean"
          },
          "error": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "class": {
                "type": "string",
                "enum": [
                  "transient",
                  "permanent",
                  "unknown"
                ],
                "description": "transient: a temporary problem — a new attempt usually succeeds · permanent: needs someone to check it before any new attempt (e.g. AADE credentials or the declaration's details) · unknown: the cause could not be classified",
                "x-enumDescriptions": {
                  "transient": "a temporary problem — a new attempt usually succeeds",
                  "permanent": "needs someone to check it before any new attempt (e.g. AADE credentials or the declaration's details)",
                  "unknown": "the cause could not be classified"
                }
              },
              "code": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "class",
              "code"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time"
          }
        },
        "required": [
          "id",
          "externalBookingId",
          "propertyId",
          "propertyName",
          "ama",
          "channel",
          "checkinDate",
          "checkoutDate",
          "cancellation",
          "status",
          "skipped",
          "deadline",
          "submittedAt",
          "declaredAmountCents",
          "aadeDeclarationNumber",
          "aadeProtocolNumber",
          "receiptAvailable",
          "error",
          "createdAt",
          "updatedAt"
        ]
      },
      "CheckinPage": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Checkin"
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Pass as cursor for the next page; null on the last page"
          },
          "onlineCheckInEnabled": {
            "type": "boolean",
            "description": "When false the list is empty"
          }
        },
        "required": [
          "data",
          "nextCursor",
          "onlineCheckInEnabled"
        ]
      },
      "Checkin": {
        "type": "object",
        "properties": {
          "bookingId": {
            "type": "string"
          },
          "propertyId": {
            "type": [
              "string",
              "null"
            ]
          },
          "propertyName": {
            "type": "string"
          },
          "checkinDate": {
            "type": "string",
            "format": "date",
            "description": "YYYY-MM-DD"
          },
          "checkoutDate": {
            "type": "string",
            "format": "date",
            "description": "YYYY-MM-DD"
          },
          "cancelled": {
            "type": "boolean"
          },
          "status": {
            "type": "string",
            "enum": [
              "completed",
              "pending"
            ],
            "description": "completed: check-in is done — online by the guest, or marked by the host (see completedAt) · pending: check-in not completed — also for past and cancelled stays",
            "x-enumDescriptions": {
              "completed": "check-in is done — online by the guest, or marked by the host (see completedAt)",
              "pending": "check-in not completed — also for past and cancelled stays"
            }
          },
          "completedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO 8601 date-time"
          },
          "arrivalTime": {
            "type": [
              "string",
              "null"
            ],
            "description": "HH:mm, in the property's local time. Until online check-in is completed, the check-in time from the booking provider, where it sends one"
          },
          "departureTime": {
            "type": [
              "string",
              "null"
            ],
            "description": "HH:mm, in the property's local time. Until online check-in is completed, the check-out time from the booking provider, where it sends one"
          },
          "requests": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 date-time"
          },
          "phone": {
            "type": [
              "string",
              "null"
            ],
            "description": "Only for keys with the read:pii scope"
          },
          "additionalGuests": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "firstName": {
                  "type": "string"
                },
                "lastName": {
                  "type": "string"
                }
              },
              "required": [
                "firstName",
                "lastName"
              ]
            },
            "description": "Only for keys with the read:pii scope"
          },
          "notes": {
            "type": [
              "string",
              "null"
            ],
            "description": "Only for keys with the read:pii scope"
          }
        },
        "required": [
          "bookingId",
          "propertyId",
          "propertyName",
          "checkinDate",
          "checkoutDate",
          "cancelled",
          "status",
          "completedAt",
          "arrivalTime",
          "departureTime",
          "requests",
          "updatedAt"
        ]
      },
      "RevenueReport": {
        "type": "object",
        "properties": {
          "range": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "date",
                "description": "YYYY-MM-DD"
              },
              "to": {
                "type": "string",
                "format": "date",
                "description": "YYYY-MM-DD"
              }
            },
            "required": [
              "from",
              "to"
            ]
          },
          "revenueBasis": {
            "type": "string",
            "enum": [
              "gross_accommodation_pre_channel_commission"
            ]
          },
          "revenueAttribution": {
            "type": "string",
            "enum": [
              "stay_nights_within_period_prorated"
            ]
          },
          "rows": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "month": {
                  "type": "string",
                  "description": "YYYY-MM"
                },
                "propertyId": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "propertyName": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "channel": {
                  "type": "string",
                  "description": "Display name: known platforms under one name (e.g. Airbnb, Booking.com), direct bookings as \"Phone / Direct bookings\", other channels as the provider reports them"
                },
                "currency": {
                  "type": "string"
                },
                "stays": {
                  "type": "integer"
                },
                "nights": {
                  "type": "integer"
                },
                "grossRevenueCents": {
                  "type": "integer"
                },
                "channelCommissionCents": {
                  "type": "integer"
                },
                "staysWithCommissionData": {
                  "type": "integer"
                },
                "hostPayoutCents": {
                  "type": "integer",
                  "description": "The payout the booking provider reports; where it reports none, gross revenue minus channel commission and payment charges. Prorated like grossRevenueCents"
                }
              },
              "required": [
                "month",
                "propertyId",
                "propertyName",
                "channel",
                "currency",
                "stays",
                "nights",
                "grossRevenueCents",
                "channelCommissionCents",
                "staysWithCommissionData",
                "hostPayoutCents"
              ]
            }
          }
        },
        "required": [
          "range",
          "revenueBasis",
          "revenueAttribution",
          "rows"
        ]
      },
      "OccupancyReport": {
        "type": "object",
        "properties": {
          "range": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "date",
                "description": "YYYY-MM-DD"
              },
              "to": {
                "type": "string",
                "format": "date",
                "description": "YYYY-MM-DD"
              }
            },
            "required": [
              "from",
              "to"
            ]
          },
          "denominatorBasis": {
            "type": "string",
            "enum": [
              "calendar_days_in_period"
            ]
          },
          "currency": {
            "type": "string"
          },
          "rows": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "month": {
                  "type": "string",
                  "description": "YYYY-MM"
                },
                "propertyId": {
                  "type": "string"
                },
                "propertyName": {
                  "type": "string"
                },
                "totalNights": {
                  "type": "integer"
                },
                "occupiedNights": {
                  "type": "integer",
                  "description": "Nights the calendar shows as booked, on any channel. Nights blocked by hand are in blockedNights and are not counted here"
                },
                "occupancyRate": {
                  "type": "number",
                  "description": "occupiedNights / totalNights, as a fraction from 0 to 1 (0.8667 = 86.67%)"
                },
                "blockedNights": {
                  "type": "integer"
                },
                "bookedNights": {
                  "type": "integer"
                },
                "revenueCents": {
                  "type": "integer"
                },
                "adrCents": {
                  "type": [
                    "integer",
                    "null"
                  ]
                },
                "revParCents": {
                  "type": "integer"
                }
              },
              "required": [
                "month",
                "propertyId",
                "propertyName",
                "totalNights",
                "occupiedNights",
                "occupancyRate",
                "blockedNights",
                "bookedNights",
                "revenueCents",
                "adrCents",
                "revParCents"
              ]
            }
          }
        },
        "required": [
          "range",
          "denominatorBasis",
          "currency",
          "rows"
        ]
      },
      "BookingsExportFile": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "bookings"
            ]
          },
          "month": {
            "type": "string",
            "description": "YYYY-MM"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Booking"
            },
            "description": "The same records as /bookings"
          }
        },
        "required": [
          "type",
          "month",
          "data"
        ]
      },
      "ExportAccepted": {
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "processing",
              "ready"
            ]
          },
          "statusUrl": {
            "type": "string",
            "description": "A path on the same host, starting with /api/data-access/v1 — add it to the host (e.g. https://app.deskboy.app), not to the server URL. GET it with the same API key to download the file"
          }
        },
        "required": [
          "jobId",
          "status",
          "statusUrl"
        ]
      },
      "DocumentsExportFile": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "documents"
            ]
          },
          "month": {
            "type": "string",
            "description": "YYYY-MM"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Document"
            },
            "description": "The same records as /documents"
          }
        },
        "required": [
          "type",
          "month",
          "data"
        ]
      },
      "AadeDeclarationsExportFile": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "aade"
            ]
          },
          "month": {
            "type": "string",
            "description": "YYYY-MM"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AadeDeclaration"
            },
            "description": "The same records as /aade/declarations"
          }
        },
        "required": [
          "type",
          "month",
          "data"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/properties": {
      "get": {
        "operationId": "listProperties",
        "tags": [
          "Properties"
        ],
        "security": [
          {
            "ApiKeyAuth": [
              "read:properties"
            ]
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "maxLength": 256,
              "description": "Opaque cursor from the previous page’s nextCursor — valid only with the same path and query parameters (limit may change)"
            },
            "required": false,
            "description": "Opaque cursor from the previous page’s nextCursor — valid only with the same path and query parameters (limit may change)",
            "name": "cursor",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page size — default 50, at most 200 (larger values are capped)"
            },
            "required": false,
            "description": "Page size — default 50, at most 200 (larger values are capped)",
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "ISO 8601 date-time — only records updated at or after it"
            },
            "required": false,
            "description": "ISO 8601 date-time — only records updated at or after it",
            "name": "updatedSince",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed per minute for this API key"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the current one-minute window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "UTC epoch seconds when the current one-minute window ends (Remaining resets to the full limit)"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertyPage"
                },
                "example": {
                  "data": [
                    {
                      "id": "cm4x7k2q10001l5p8zv3h9d2a",
                      "name": "Villa Anemos",
                      "provider": "HOSTHUB",
                      "externalId": "1287",
                      "paused": false,
                      "city": "Chania",
                      "countryCode": "GR",
                      "timezone": "Europe/Athens",
                      "maximumGuests": 6,
                      "bedrooms": 3,
                      "baths": 2,
                      "createdAt": "2026-03-02T10:15:00.000Z",
                      "updatedAt": "2026-09-14T08:02:11.000Z"
                    }
                  ],
                  "nextCursor": "eyJ1IjoiMjAyNi0wOC0xNVQwOTozMDoxMi4wMDBaIiwiaSI6ImNtNHg3azlyNCJ9"
                }
              }
            }
          },
          "400": {
            "description": "invalid_params — see details",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed per minute for this API key"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the current one-minute window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "UTC epoch seconds when the current one-minute window ends (Remaining resets to the full limit)"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "invalid_params",
                  "message": "Invalid request parameters. See details.",
                  "details": {
                    "fields": {
                      "from": [
                        {
                          "code": "invalid_value",
                          "message": "Unknown parameter"
                        }
                      ],
                      "to": [
                        {
                          "code": "invalid_value",
                          "message": "Unknown parameter"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "unauthorized — missing, invalid or revoked API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "unauthorized",
                  "message": "Missing, invalid or revoked API key."
                }
              }
            }
          },
          "403": {
            "description": "insufficient_scope (the scope is named in details.requiredScope and in the WWW-Authenticate header) · feature_not_in_plan",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed per minute for this API key"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the current one-minute window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "UTC epoch seconds when the current one-minute window ends (Remaining resets to the full limit)"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "insufficient_scope",
                  "message": "This API key does not have the read:properties scope.",
                  "details": {
                    "requiredScope": "read:properties"
                  }
                }
              }
            }
          },
          "429": {
            "description": "rate_limit_exceeded · daily_limit_exceeded · error_budget_exceeded (too many failed requests from this key today; until the time in Retry-After, every request from this key gets this answer, valid ones included)",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed per minute for this API key"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the current one-minute window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "UTC epoch seconds when the current one-minute window ends (Remaining resets to the full limit)"
              },
              "Retry-After": {
                "schema": {
                  "type": "string"
                },
                "description": "Seconds to wait before retrying"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "rate_limit_exceeded",
                  "message": "Too many requests. Retry after the number of seconds in the Retry-After header."
                }
              }
            }
          }
        },
        "summary": "List properties",
        "description": "Properties of your active booking connections, including those turned Off. Ordered by last update, oldest first; follow nextCursor. To fetch only what changed, pass as updatedSince the largest updatedAt you have seen minus 5 minutes: a change can become visible shortly after its updatedAt. Records can come back more than once (from that overlap, or when they change while you page), so store them by id."
      }
    },
    "/properties/{id}": {
      "get": {
        "operationId": "getProperty",
        "tags": [
          "Properties"
        ],
        "security": [
          {
            "ApiKeyAuth": [
              "read:properties"
            ]
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256,
              "pattern": "^[^\\s/\\\\\\u0000-\\u001F\\u007F-\\u009F]+$"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "An ETag from an earlier response"
            },
            "required": false,
            "description": "An ETag from an earlier response",
            "name": "If-None-Match",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed per minute for this API key"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the current one-minute window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "UTC epoch seconds when the current one-minute window ends (Remaining resets to the full limit)"
              },
              "ETag": {
                "schema": {
                  "type": "string"
                },
                "description": "Weak validator of this representation — send it back in If-None-Match"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Property"
                },
                "example": {
                  "id": "cm4x7k2q10001l5p8zv3h9d2a",
                  "name": "Villa Anemos",
                  "provider": "HOSTHUB",
                  "externalId": "1287",
                  "paused": false,
                  "city": "Chania",
                  "countryCode": "GR",
                  "timezone": "Europe/Athens",
                  "maximumGuests": 6,
                  "bedrooms": 3,
                  "baths": 2,
                  "createdAt": "2026-03-02T10:15:00.000Z",
                  "updatedAt": "2026-09-14T08:02:11.000Z"
                }
              }
            }
          },
          "304": {
            "description": "Not modified — If-None-Match matched; no body",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed per minute for this API key"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the current one-minute window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "UTC epoch seconds when the current one-minute window ends (Remaining resets to the full limit)"
              },
              "ETag": {
                "schema": {
                  "type": "string"
                },
                "description": "Weak validator of this representation — send it back in If-None-Match"
              }
            }
          },
          "400": {
            "description": "invalid_params — see details",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed per minute for this API key"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the current one-minute window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "UTC epoch seconds when the current one-minute window ends (Remaining resets to the full limit)"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "invalid_params",
                  "message": "Invalid request parameters. See details.",
                  "details": {
                    "fields": {
                      "id": [
                        {
                          "code": "invalid_format",
                          "message": "Invalid id"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "unauthorized — missing, invalid or revoked API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "unauthorized",
                  "message": "Missing, invalid or revoked API key."
                }
              }
            }
          },
          "403": {
            "description": "insufficient_scope (the scope is named in details.requiredScope and in the WWW-Authenticate header) · feature_not_in_plan",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed per minute for this API key"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the current one-minute window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "UTC epoch seconds when the current one-minute window ends (Remaining resets to the full limit)"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "insufficient_scope",
                  "message": "This API key does not have the read:properties scope.",
                  "details": {
                    "requiredScope": "read:properties"
                  }
                }
              }
            }
          },
          "404": {
            "description": "not_found — no such resource for this account",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed per minute for this API key"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the current one-minute window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "UTC epoch seconds when the current one-minute window ends (Remaining resets to the full limit)"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "not_found",
                  "message": "The requested resource does not exist."
                }
              }
            }
          },
          "429": {
            "description": "rate_limit_exceeded · daily_limit_exceeded · error_budget_exceeded (too many failed requests from this key today; until the time in Retry-After, every request from this key gets this answer, valid ones included)",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed per minute for this API key"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the current one-minute window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "UTC epoch seconds when the current one-minute window ends (Remaining resets to the full limit)"
              },
              "Retry-After": {
                "schema": {
                  "type": "string"
                },
                "description": "Seconds to wait before retrying"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "example": {
                  "error": "rate_limit_exceeded",
                  "message": "Too many requests. Retry after the number of seconds in the Retry-After header."
                }
              }
            }
          }
        },
        "summary": "Get a property",
        "description": "One property"
      }
    },
    "/bookings": {
      "get": {
        "operationId": "listBookings",
        "tags": [
          "Bookings"
        ],
        "security": [
          {
            "ApiKeyAuth": [
              "read:bookings"
            ]
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "maxLength": 256,
              "description": "Opaque cursor from the previous page’s nextCursor — valid only with the same path and query parameters (limit may change)"
            },
            "required": false,
            "description": "Opaque cursor from the previous page’s nextCursor — valid only with the same path and query parameters (limit may change)",
            "name": "cursor",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page size — default 50, at most 200 (larger values are capped)"
            },
            "required": false,
            "description": "Page size — default 50, at most 200 (larger values are capped)",
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "ISO 8601 date-time — only records updated at or after it"
            },
            "required": false,
            "description": "ISO 8601 date-time — only records updated at or after it",
            "name": "updatedSince",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256,
              "pattern": "^[^\\s/\\\\\\u0000-\\u001F\\u007F-\\u009F]+$",
              "description": "Only bookings of this property"
            },
            "required": false,
            "description": "Only bookings of this property",
            "name": "propertyId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Only bookings departing on or after this date (YYYY-MM-DD)"
            },
            "required": false,
            "description": "Only bookings departing on or after this date (YYYY-MM-DD)",
            "name": "checkoutFrom",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Only bookings departing on or before this date (YYYY-MM-DD)"
            },
            "required": false,
            "description": "Only bookings departing on or before this date (YYYY-MM-DD)",
            "name": "checkoutTo",
            "in": "query"
          },
          {
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "needs_setup",
                  "ready",
                  "issued",
                  "issued_with_errors",
                  "partially_issued",
                  "failed",
                  "split",
                  "awaiting_mydata",
                  "needs_review",
                  "issued_externally"
                ]
              },
              "description": "Only bookings in these invoicing statuses — comma-separated (e.g. failed,needs_review)"
            },
            "required": false,
            "description": "Only bookings in these invoicing statuses — comma-separated (e.g. failed,needs_review)",
            "style": "form",
            "explode": false,
            "name": "invoicingStatus",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean",
              "description": "true: only cancelled bookings · false: leave them out"
            },
            "required": false,
            "description": "true: only cancelled bookings · false: leave them out",
            "name": "cancelled",
[...]
