{
  "openapi": "3.1.0",
  "info": {
    "title": "DeskBoy Data Access API",
    "version": "1.0.0",
    "description": "Read-only access to your booking data, for programmatic/polling use."
  },
  "servers": [
    {
      "url": "https://app.deskboy.app/api/data-access/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Data Access API key, created in Settings → Data access (API) (Bearer deskboy_data_...). Each operation lists the scope the key needs."
      }
    },
    "schemas": {},
    "parameters": {}
  },
  "paths": {
    "/properties": {
      "get": {
        "tags": [
          "Resources"
        ],
        "security": [
          {
            "ApiKeyAuth": [
              "read:properties"
            ]
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "maxLength": 256,
              "description": "Opaque cursor from the previous page’s nextCursor"
            },
            "required": false,
            "description": "Opaque cursor from the previous page’s nextCursor",
            "name": "cursor",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page size — default 50, at most 200 (larger values are capped)"
            },
            "required": false,
            "description": "Page size — default 50, at most 200 (larger values are capped)",
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "ISO 8601 date-time — only records updated at or after it"
            },
            "required": false,
            "description": "ISO 8601 date-time — only records updated at or after it",
            "name": "updated_since",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed per minute for this API key"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the current one-minute window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "UTC epoch seconds when the current one-minute window ends (Remaining resets to the full limit)"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "provider": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Booking provider of the connection (HOSTHUB, AIRBNB, …)"
                          },
                          "externalId": {
                            "type": "string",
                            "description": "The property id at the booking provider"
                          },
                          "paused": {
                            "type": "boolean",
                            "description": "Turned Off in Settings — not invoiced automatically"
                          },
                          "city": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "countryCode": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "timezone": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "maximumGuests": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "bedrooms": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "baths": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "ISO 8601 date-time"
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "ISO 8601 date-time"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "provider",
                          "externalId",
                          "paused",
                          "city",
                          "countryCode",
                          "timezone",
                          "maximumGuests",
                          "bedrooms",
                          "baths",
                          "createdAt",
                          "updatedAt"
                        ]
                      }
                    },
                    "nextCursor": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Pass as cursor for the next page; null on the last page"
                    }
                  },
                  "required": [
                    "data",
                    "nextCursor"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "id": "cm4x7k2q10001l5p8zv3h9d2a",
                      "name": "Villa Anemos",
                      "provider": "HOSTHUB",
                      "externalId": "1287",
                      "paused": false,
                      "city": "Chania",
                      "countryCode": "GR",
                      "timezone": "Europe/Athens",
                      "maximumGuests": 6,
                      "bedrooms": 3,
                      "baths": 2,
                      "createdAt": "2026-03-02T10:15:00.000Z",
                      "updatedAt": "2026-09-14T08:02:11.000Z"
                    }
                  ],
                  "nextCursor": "eyJ1IjoiMjAyNi0wOC0xNVQwOTozMDoxMi4wMDBaIiwiaSI6ImNtNHg3azlyNCJ9"
                }
              }
            }
          },
          "400": {
            "description": "invalid_params — see details",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed per minute for this API key"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the current one-minute window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "UTC epoch seconds when the current one-minute window ends (Remaining resets to the full limit)"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "unauthorized",
                        "insufficient_scope",
                        "feature_not_in_plan",
                        "not_found",
                        "export_expired",
                        "invalid_params",
                        "rate_limit_exceeded",
                        "daily_limit_exceeded",
                        "error_budget_exceeded",
                        "payload_too_large",
                        "method_not_allowed",
                        "gone",
                        "internal_error"
                      ],
                      "description": "Stable error code — match on this"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable explanation — may change; never match on it"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {},
                      "description": "insufficient_scope: { requiredScope }. invalid_params: the field errors"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                },
                "example": {
                  "error": "invalid_params",
                  "message": "Invalid request parameters. See details.",
                  "details": {
                    "formErrors": [],
                    "fieldErrors": {
                      "from": [
                        "Invalid ISO date"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "unauthorized — missing, invalid or revoked API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "unauthorized",
                        "insufficient_scope",
                        "feature_not_in_plan",
                        "not_found",
                        "export_expired",
                        "invalid_params",
                        "rate_limit_exceeded",
                        "daily_limit_exceeded",
                        "error_budget_exceeded",
                        "payload_too_large",
                        "method_not_allowed",
                        "gone",
                        "internal_error"
                      ],
                      "description": "Stable error code — match on this"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable explanation — may change; never match on it"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {},
                      "description": "insufficient_scope: { requiredScope }. invalid_params: the field errors"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                },
                "example": {
                  "error": "unauthorized",
                  "message": "Missing, invalid or revoked API key."
                }
              }
            }
          },
          "403": {
            "description": "insufficient_scope (the scope is named in details.requiredScope and in the WWW-Authenticate header) · feature_not_in_plan",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed per minute for this API key"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the current one-minute window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "UTC epoch seconds when the current one-minute window ends (Remaining resets to the full limit)"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "unauthorized",
                        "insufficient_scope",
                        "feature_not_in_plan",
                        "not_found",
                        "export_expired",
                        "invalid_params",
                        "rate_limit_exceeded",
                        "daily_limit_exceeded",
                        "error_budget_exceeded",
                        "payload_too_large",
                        "method_not_allowed",
                        "gone",
                        "internal_error"
                      ],
                      "description": "Stable error code — match on this"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable explanation — may change; never match on it"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {},
                      "description": "insufficient_scope: { requiredScope }. invalid_params: the field errors"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                },
                "example": {
                  "error": "insufficient_scope",
                  "message": "This API key does not have the read:properties scope.",
                  "details": {
                    "requiredScope": "read:properties"
                  }
                }
              }
            }
          },
          "429": {
            "description": "rate_limit_exceeded · daily_limit_exceeded · error_budget_exceeded (too many failed requests from this key today)",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed per minute for this API key"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the current one-minute window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "UTC epoch seconds when the current one-minute window ends (Remaining resets to the full limit)"
              },
              "Retry-After": {
                "schema": {
                  "type": "string"
                },
                "description": "Seconds to wait before retrying"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "unauthorized",
                        "insufficient_scope",
                        "feature_not_in_plan",
                        "not_found",
                        "export_expired",
                        "invalid_params",
                        "rate_limit_exceeded",
                        "daily_limit_exceeded",
                        "error_budget_exceeded",
                        "payload_too_large",
                        "method_not_allowed",
                        "gone",
                        "internal_error"
                      ],
                      "description": "Stable error code — match on this"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable explanation — may change; never match on it"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {},
                      "description": "insufficient_scope: { requiredScope }. invalid_params: the field errors"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                },
                "example": {
                  "error": "rate_limit_exceeded",
                  "message": "Too many requests. Retry after the number of seconds in the Retry-After header."
                }
              }
            }
          }
        },
        "summary": "List properties",
        "description": "Properties of your active booking connections, including those turned Off. Ordered by last update, oldest first; follow nextCursor. To fetch only what changed, pass as updated_since the largest updatedAt you have seen minus 5 minutes: a change can become visible shortly after its updatedAt. Records can come back more than once (from that overlap, or when they change while you page), so store them by id."
      }
    },
    "/properties/{id}": {
      "get": {
        "tags": [
          "Resources"
        ],
        "security": [
          {
            "ApiKeyAuth": [
              "read:properties"
            ]
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256,
              "pattern": "^[^\\s/\\\\\\p{Cc}]+$/u"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "An ETag from an earlier response"
            },
            "required": false,
            "description": "An ETag from an earlier response",
            "name": "If-None-Match",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed per minute for this API key"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the current one-minute window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "UTC epoch seconds when the current one-minute window ends (Remaining resets to the full limit)"
              },
              "ETag": {
                "schema": {
                  "type": "string"
                },
                "description": "Weak validator of this representation — send it back in If-None-Match"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "provider": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Booking provider of the connection (HOSTHUB, AIRBNB, …)"
                    },
                    "externalId": {
                      "type": "string",
                      "description": "The property id at the booking provider"
                    },
                    "paused": {
                      "type": "boolean",
                      "description": "Turned Off in Settings — not invoiced automatically"
                    },
                    "city": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "countryCode": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "timezone": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "maximumGuests": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "bedrooms": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "baths": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "ISO 8601 date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "description": "ISO 8601 date-time"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "provider",
                    "externalId",
                    "paused",
                    "city",
                    "countryCode",
                    "timezone",
                    "maximumGuests",
                    "bedrooms",
                    "baths",
                    "createdAt",
                    "updatedAt"
                  ]
                },
                "example": {
                  "id": "cm4x7k2q10001l5p8zv3h9d2a",
                  "name": "Villa Anemos",
                  "provider": "HOSTHUB",
                  "externalId": "1287",
                  "paused": false,
                  "city": "Chania",
                  "countryCode": "GR",
                  "timezone": "Europe/Athens",
                  "maximumGuests": 6,
                  "bedrooms": 3,
                  "baths": 2,
                  "createdAt": "2026-03-02T10:15:00.000Z",
                  "updatedAt": "2026-09-14T08:02:11.000Z"
                }
              }
            }
          },
          "304": {
            "description": "Not modified — If-None-Match matched; no body",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed per minute for this API key"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the current one-minute window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "UTC epoch seconds when the current one-minute window ends (Remaining resets to the full limit)"
              },
              "ETag": {
                "schema": {
                  "type": "string"
                },
                "description": "Weak validator of this representation — send it back in If-None-Match"
              }
            }
          },
          "400": {
            "description": "invalid_params — see details",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed per minute for this API key"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the current one-minute window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "UTC epoch seconds when the current one-minute window ends (Remaining resets to the full limit)"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "unauthorized",
                        "insufficient_scope",
                        "feature_not_in_plan",
                        "not_found",
                        "export_expired",
                        "invalid_params",
                        "rate_limit_exceeded",
                        "daily_limit_exceeded",
                        "error_budget_exceeded",
                        "payload_too_large",
                        "method_not_allowed",
                        "gone",
                        "internal_error"
                      ],
                      "description": "Stable error code — match on this"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable explanation — may change; never match on it"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {},
                      "description": "insufficient_scope: { requiredScope }. invalid_params: the field errors"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                },
                "example": {
                  "error": "invalid_params",
                  "message": "Invalid request parameters. See details.",
                  "details": {
                    "formErrors": [],
                    "fieldErrors": {
                      "from": [
                        "Invalid ISO date"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "unauthorized — missing, invalid or revoked API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "unauthorized",
                        "insufficient_scope",
                        "feature_not_in_plan",
                        "not_found",
                        "export_expired",
                        "invalid_params",
                        "rate_limit_exceeded",
                        "daily_limit_exceeded",
                        "error_budget_exceeded",
                        "payload_too_large",
                        "method_not_allowed",
                        "gone",
                        "internal_error"
                      ],
                      "description": "Stable error code — match on this"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable explanation — may change; never match on it"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {},
                      "description": "insufficient_scope: { requiredScope }. invalid_params: the field errors"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                },
                "example": {
                  "error": "unauthorized",
                  "message": "Missing, invalid or revoked API key."
                }
              }
            }
          },
          "403": {
            "description": "insufficient_scope (the scope is named in details.requiredScope and in the WWW-Authenticate header) · feature_not_in_plan",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed per minute for this API key"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the current one-minute window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "UTC epoch seconds when the current one-minute window ends (Remaining resets to the full limit)"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "unauthorized",
                        "insufficient_scope",
                        "feature_not_in_plan",
                        "not_found",
                        "export_expired",
                        "invalid_params",
                        "rate_limit_exceeded",
                        "daily_limit_exceeded",
                        "error_budget_exceeded",
                        "payload_too_large",
                        "method_not_allowed",
                        "gone",
                        "internal_error"
                      ],
                      "description": "Stable error code — match on this"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable explanation — may change; never match on it"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {},
                      "description": "insufficient_scope: { requiredScope }. invalid_params: the field errors"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                },
                "example": {
                  "error": "insufficient_scope",
                  "message": "This API key does not have the read:properties scope.",
                  "details": {
                    "requiredScope": "read:properties"
                  }
                }
              }
            }
          },
          "404": {
            "description": "not_found — no such resource for this account",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed per minute for this API key"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the current one-minute window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "UTC epoch seconds when the current one-minute window ends (Remaining resets to the full limit)"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "unauthorized",
                        "insufficient_scope",
                        "feature_not_in_plan",
                        "not_found",
                        "export_expired",
                        "invalid_params",
                        "rate_limit_exceeded",
                        "daily_limit_exceeded",
                        "error_budget_exceeded",
                        "payload_too_large",
                        "method_not_allowed",
                        "gone",
                        "internal_error"
                      ],
                      "description": "Stable error code — match on this"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable explanation — may change; never match on it"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {},
                      "description": "insufficient_scope: { requiredScope }. invalid_params: the field errors"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                },
                "example": {
                  "error": "not_found",
                  "message": "The requested resource does not exist."
                }
              }
            }
          },
          "429": {
            "description": "rate_limit_exceeded · daily_limit_exceeded · error_budget_exceeded (too many failed requests from this key today)",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed per minute for this API key"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the current one-minute window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "UTC epoch seconds when the current one-minute window ends (Remaining resets to the full limit)"
              },
              "Retry-After": {
                "schema": {
                  "type": "string"
                },
                "description": "Seconds to wait before retrying"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "unauthorized",
                        "insufficient_scope",
                        "feature_not_in_plan",
                        "not_found",
                        "export_expired",
                        "invalid_params",
                        "rate_limit_exceeded",
                        "daily_limit_exceeded",
                        "error_budget_exceeded",
                        "payload_too_large",
                        "method_not_allowed",
                        "gone",
                        "internal_error"
                      ],
                      "description": "Stable error code — match on this"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable explanation — may change; never match on it"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {},
                      "description": "insufficient_scope: { requiredScope }. invalid_params: the field errors"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                },
                "example": {
                  "error": "rate_limit_exceeded",
                  "message": "Too many requests. Retry after the number of seconds in the Retry-After header."
                }
              }
            }
          }
        },
        "summary": "Get a property",
        "description": "One property"
      }
    },
    "/bookings": {
      "get": {
        "tags": [
          "Resources"
        ],
        "security": [
          {
            "ApiKeyAuth": [
              "read:bookings"
            ]
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "maxLength": 256,
              "description": "Opaque cursor from the previous page’s nextCursor"
            },
            "required": false,
            "description": "Opaque cursor from the previous page’s nextCursor",
            "name": "cursor",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page size — default 50, at most 200 (larger values are capped)"
            },
            "required": false,
            "description": "Page size — default 50, at most 200 (larger values are capped)",
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "ISO 8601 date-time — only records updated at or after it"
            },
            "required": false,
            "description": "ISO 8601 date-time — only records updated at or after it",
            "name": "updated_since",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256,
              "pattern": "^[^\\s/\\\\\\p{Cc}]+$/u",
              "description": "Only bookings of this property"
            },
            "required": false,
            "description": "Only bookings of this property",
            "name": "propertyId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Only bookings departing on or after this date (YYYY-MM-DD)"
            },
            "required": false,
            "description": "Only bookings departing on or after this date (YYYY-MM-DD)",
            "name": "checkoutFrom",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date",
              "description": "Only bookings departing on or before this date (YYYY-MM-DD)"
            },
            "required": false,
            "description": "Only bookings departing on or before this date (YYYY-MM-DD)",
            "name": "checkoutTo",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed per minute for this API key"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the current one-minute window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "UTC epoch seconds when the current one-minute window ends (Remaining resets to the full limit)"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "externalBookingId": {
                            "type": "string",
                            "description": "The booking id at the booking provider"
                          },
                          "externalReservationId": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "The reservation code at the channel"
                          },
                          "provider": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Booking provider (HOSTHUB, AIRBNB, …) — open set"
                          },
                          "channel": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Channel name as the provider reports it — open set"
                          },
                          "channelCode": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Normalised channel code (e.g. airbnb, booking.com)"
                          },
                          "propertyId": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "propertyName": {
                            "type": "string"
                          },
                          "checkinDate": {
                            "type": "string",
                            "description": "YYYY-MM-DD"
                          },
                          "checkoutDate": {
                            "type": "string",
                            "description": "YYYY-MM-DD"
                          },
                          "nights": {
                            "type": "number"
                          },
                          "guestCount": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "guestCountry": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "nationality": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "ISO 3166-1 alpha-2, derived from the phone country code only"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "amountCents": {
                            "type": "number",
                            "description": "Gross accommodation amount"
                          },
                          "amountBreakdown": {
                            "type": [
                              "object",
                              "null"
                            ],
                            "additionalProperties": {}
                          },
                          "manuallyCorrected": {
                            "type": "boolean",
                            "description": "Amount or departure corrected by hand — the corrected values are shown"
                          },
                          "cancelled": {
                            "type": "boolean"
                          },
                          "cancelledAt": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "ISO 8601 date-time"
                          },
                          "cancellationFeeCents": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "split": {
                            "type": [
                              "object",
                              "null"
                            ],
                            "properties": {
                              "parentId": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "The booking this part was split from; null on the original"
                              },
                              "divided": {
                                "type": "boolean",
                                "description": "This row was split into parts — no document is issued on it"
                              },
                              "reason": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "segment": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            },
                            "required": [
                              "parentId",
                              "divided",
                              "reason",
                              "segment"
                            ],
                            "description": "Stays across a year boundary or a climate-fee rate change are split. The original booking stays in the list with split.divided = true and still carries the full amount; its parts follow as their own rows with split.parentId. To sum amounts or follow documents, skip rows where split.divided is true. To count stays, count rows where split is null or split.parentId is null"
                          },
                          "invoicing": {
                            "type": "object",
                            "properties": {
                              "status": {
                                "type": "string",
                                "enum": [
                                  "needs_setup",
                                  "ready",
                                  "issued",
                                  "issued_with_errors",
                                  "partially_issued",
                                  "failed",
                                  "split",
                                  "awaiting_mydata",
                                  "needs_review",
                                  "issued_externally",
                                  "unknown"
                                ]
                              },
                              "documentType": {
                                "type": "string",
                                "enum": [
                                  "receipt",
                                  "invoice"
                                ]
                              },
                              "skipped": {
                                "type": "boolean",
                                "description": "Skipped, or its property is Off — not invoiced or declared"
                              },
                              "issuedAt": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "ISO 8601 date-time"
                              },
                              "failedAt": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "ISO 8601 date-time"
                              }
                            },
                            "required": [
                              "status",
                              "documentType",
                              "skipped",
                              "issuedAt",
                              "failedAt"
                            ]
                          },
                          "historicalImport": {
                            "type": "boolean"
                          },
                          "bookedAt": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "ISO 8601 date-time"
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "ISO 8601 date-time"
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "ISO 8601 date-time"
                          },
                          "guestName": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Present only for keys with the read:pii scope, on accounts where guest data has been enabled"
                          },
                          "guestEmail": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Present only for keys with the read:pii scope, on accounts where guest data has been enabled"
                          },
                          "guestPhone": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Present only for keys with the read:pii scope, on accounts where guest data has been enabled"
                          }
                        },
                        "required": [
                          "id",
                          "externalBookingId",
                          "externalReservationId",
                          "provider",
                          "channel",
                          "channelCode",
                          "propertyId",
                          "propertyName",
                          "checkinDate",
                          "checkoutDate",
                          "nights",
                          "guestCount",
                          "guestCountry",
                          "nationality",
                          "currency",
                          "amountCents",
                          "amountBreakdown",
                          "manuallyCorrected",
                          "cancelled",
                          "cancelledAt",
                          "cancellationFeeCents",
                          "split",
                          "invoicing",
                          "historicalImport",
                          "bookedAt",
                          "createdAt",
                          "updatedAt"
                        ]
                      }
                    },
                    "nextCursor": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Pass as cursor for the next page; null on the last page"
                    }
                  },
                  "required": [
                    "data",
                    "nextCursor"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "id": "cm4x7k9r40007l5p8c1n6w0qe",
                      "externalBookingId": "hh-558201",
                      "externalReservationId": "HMX4Q2ZP8A",
                      "provider": "HOSTHUB",
                      "channel": "Airbnb",
                      "channelCode": "airbnb",
                      "propertyId": "cm4x7k2q10001l5p8zv3h9d2a",
                      "propertyName": "Villa Anemos",
                      "checkinDate": "2026-08-10",
                      "checkoutDate": "2026-08-15",
                      "nights": 5,
                      "guestCount": 4,
                      "guestCountry": "DE",
                      "nationality": "DE",
                      "currency": "EUR",
                      "amountCents": 125000,
                      "amountBreakdown": null,
                      "manuallyCorrected": false,
                      "cancelled": false,
                      "cancelledAt": null,
                      "cancellationFeeCents": null,
                      "split": null,
                      "invoicing": {
                        "status": "issued",
                        "documentType": "receipt",
                        "skipped": false,
                        "issuedAt": "2026-08-15T09:30:12.000Z",
                        "failedAt": null
                      },
                      "historicalImport": false,
                      "bookedAt": "2026-05-21T17:44:03.000Z",
                      "createdAt": "2026-05-21T17:50:00.000Z",
                      "updatedAt": "2026-08-15T09:30:12.000Z"
                    }
                  ],
                  "nextCursor": "eyJ1IjoiMjAyNi0wOC0xNVQwOTozMDoxMi4wMDBaIiwiaSI6ImNtNHg3azlyNCJ9"
                }
              }
            }
          },
          "400": {
            "description": "invalid_params — see details",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed per minute for this API key"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the current one-minute window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "UTC epoch seconds when the current one-minute window ends (Remaining resets to the full limit)"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "unauthorized",
                        "insufficient_scope",
                        "feature_not_in_plan",
                        "not_found",
                        "export_expired",
                        "invalid_params",
                        "rate_limit_exceeded",
                        "daily_limit_exceeded",
                        "error_budget_exceeded",
                        "payload_too_large",
                        "method_not_allowed",
                        "gone",
                        "internal_error"
                      ],
                      "description": "Stable error code — match on this"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable explanation — may change; never match on it"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {},
                      "description": "insufficient_scope: { requiredScope }. invalid_params: the field errors"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                },
                "example": {
                  "error": "invalid_params",
                  "message": "Invalid request parameters. See details.",
                  "details": {
                    "formErrors": [],
                    "fieldErrors": {
                      "from": [
                        "Invalid ISO date"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "unauthorized — missing, invalid or revoked API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "unauthorized",
                        "insufficient_scope",
                        "feature_not_in_plan",
                        "not_found",
                        "export_expired",
                        "invalid_params",
                        "rate_limit_exceeded",
                        "daily_limit_exceeded",
                        "error_budget_exceeded",
                        "payload_too_large",
                        "method_not_allowed",
                        "gone",
                        "internal_error"
                      ],
                      "description": "Stable error code — match on this"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable explanation — may change; never match on it"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {},
                      "description": "insufficient_scope: { requiredScope }. invalid_params: the field errors"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                },
                "example": {
                  "error": "unauthorized",
                  "message": "Missing, invalid or revoked API key."
                }
              }
            }
          },
          "403": {
            "description": "insufficient_scope (the scope is named in details.requiredScope and in the WWW-Authenticate header) · feature_not_in_plan",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed per minute for this API key"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the current one-minute window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "UTC epoch seconds when the current one-minute window ends (Remaining resets to the full limit)"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "unauthorized",
                        "insufficient_scope",
                        "feature_not_in_plan",
                        "not_found",
                        "export_expired",
                        "invalid_params",
                        "rate_limit_exceeded",
                        "daily_limit_exceeded",
                        "error_budget_exceeded",
                        "payload_too_large",
                        "method_not_allowed",
                        "gone",
                        "internal_error"
                      ],
                      "description": "Stable error code — match on this"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable explanation — may change; never match on it"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {},
                      "description": "insufficient_scope: { requiredScope }. invalid_params: the field errors"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                },
                "example": {
                  "error": "insufficient_scope",
                  "message": "This API key does not have the read:bookings scope.",
                  "details": {
                    "requiredScope": "read:bookings"
                  }
                }
              }
            }
          },
          "429": {
            "description": "rate_limit_exceeded · daily_limit_exceeded · error_budget_exceeded (too many failed requests from this key today)",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed per minute for this API key"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the current one-minute window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "UTC epoch seconds when the current one-minute window ends (Remaining resets to the full limit)"
              },
              "Retry-After": {
                "schema": {
                  "type": "string"
                },
                "description": "Seconds to wait before retrying"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "unauthorized",
                        "insufficient_scope",
                        "feature_not_in_plan",
                        "not_found",
                        "export_expired",
                        "invalid_params",
                        "rate_limit_exceeded",
                        "daily_limit_exceeded",
                        "error_budget_exceeded",
                        "payload_too_large",
                        "method_not_allowed",
                        "gone",
                        "internal_error"
                      ],
                      "description": "Stable error code — match on this"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable explanation — may change; never match on it"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {},
                      "description": "insufficient_scope: { requiredScope }. invalid_params: the field errors"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                },
                "example": {
                  "error": "rate_limit_exceeded",
                  "message": "Too many requests. Retry after the number of seconds in the Retry-After header."
                }
              }
            }
          }
        },
        "summary": "List bookings",
        "description": "Every booking, as on the Bookings page — cancelled, skipped and split ones included. Guest name/email/phone only for keys with the read:pii scope. Ordered by last update, oldest first; follow nextCursor. To fetch only what changed, pass as updated_since the largest updatedAt you have seen minus 5 minutes: a change can become visible shortly after its updatedAt. Records can come back more than once (from that overlap, or when they change while you page), so store them by id."
      }
    },
    "/bookings/{id}": {
      "get": {
        "tags": [
          "Resources"
        ],
        "security": [
          {
            "ApiKeyAuth": [
              "read:bookings"
            ]
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256,
              "pattern": "^[^\\s/\\\\\\p{Cc}]+$/u"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "An ETag from an earlier response"
            },
            "required": false,
            "description": "An ETag from an earlier response",
            "name": "If-None-Match",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed per minute for this API key"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the current one-minute window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "UTC epoch seconds when the current one-minute window ends (Remaining resets to the full limit)"
              },
              "ETag": {
                "schema": {
                  "type": "string"
                },
                "description": "Weak validator of this representation — send it back in If-None-Match"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "externalBookingId": {
                      "type": "string",
                      "description": "The booking id at the booking provider"
                    },
                    "externalReservationId": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The reservation code at the channel"
                    },
                    "provider": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Booking provider (HOSTHUB, AIRBNB, …) — open set"
                    },
                    "channel": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Channel name as the provider reports it — open set"
                    },
                    "channelCode": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Normalised channel code (e.g. airbnb, booking.com)"
                    },
                    "propertyId": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "propertyName": {
                      "type": "string"
                    },
                    "checkinDate": {
                      "type": "string",
                      "description": "YYYY-MM-DD"
                    },
                    "checkoutDate": {
                      "type": "string",
                      "description": "YYYY-MM-DD"
                    },
                    "nights": {
                      "type": "number"
                    },
                    "guestCount": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "guestCountry": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "nationality": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "ISO 3166-1 alpha-2, derived from the phone country code only"
                    },
                    "currency": {
                      "type": "string"
                    },
                    "amountCents": {
                      "type": "number",
                      "description": "Gross accommodation amount"
                    },
                    "amountBreakdown": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "additionalProperties": {}
                    },
                    "manuallyCorrected": {
                      "type": "boolean",
                      "description": "Amount or departure corrected by hand — the corrected values are shown"
                    },
                    "cancelled": {
                      "type": "boolean"
                    },
                    "cancelledAt": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "ISO 8601 date-time"
                    },
                    "cancellationFeeCents": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "split": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "properties": {
                        "parentId": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "The booking this part was split from; null on the original"
                        },
                        "divided": {
                          "type": "boolean",
                          "description": "This row was split into parts — no document is issued on it"
                        },
                        "reason": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "segment": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      },
                      "required": [
                        "parentId",
                        "divided",
                        "reason",
                        "segment"
                      ],
                      "description": "Stays across a year boundary or a climate-fee rate change are split. The original booking stays in the list with split.divided = true and still carries the full amount; its parts follow as their own rows with split.parentId. To sum amounts or follow documents, skip rows where split.divided is true. To count stays, count rows where split is null or split.parentId is null"
                    },
                    "invoicing": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "needs_setup",
                            "ready",
                            "issued",
                            "issued_with_errors",
                            "partially_issued",
                            "failed",
                            "split",
                            "awaiting_mydata",
                            "needs_review",
                            "issued_externally",
                            "unknown"
                          ]
                        },
                        "documentType": {
                          "type": "string",
                          "enum": [
                            "receipt",
                            "invoice"
                          ]
                        },
                        "skipped": {
                          "type": "boolean",
                          "description": "Skipped, or its property is Off — not invoiced or declared"
                        },
                        "issuedAt": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "ISO 8601 date-time"
                        },
                        "failedAt": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "ISO 8601 date-time"
                        }
                      },
                      "required": [
                        "status",
                        "documentType",
                        "skipped",
                        "issuedAt",
                        "failedAt"
                      ]
                    },
                    "historicalImport": {
                      "type": "boolean"
                    },
                    "bookedAt": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "ISO 8601 date-time"
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "ISO 8601 date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "description": "ISO 8601 date-time"
                    },
                    "guestName": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Present only for keys with the read:pii scope, on accounts where guest data has been enabled"
                    },
                    "guestEmail": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Present only for keys with the read:pii scope, on accounts where guest data has been enabled"
                    },
                    "guestPhone": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Present only for keys with the read:pii scope, on accounts where guest data has been enabled"
                    }
                  },
                  "required": [
                    "id",
                    "externalBookingId",
                    "externalReservationId",
                    "provider",
                    "channel",
                    "channelCode",
                    "propertyId",
                    "propertyName",
                    "checkinDate",
                    "checkoutDate",
                    "nights",
                    "guestCount",
                    "guestCountry",
                    "nationality",
                    "currency",
                    "amountCents",
                    "amountBreakdown",
                    "manuallyCorrected",
                    "cancelled",
                    "cancelledAt",
                    "cancellationFeeCents",
                    "split",
                    "invoicing",
                    "historicalImport",
                    "bookedAt",
                    "createdAt",
                    "updatedAt"
                  ]
                },
                "example": {
                  "id": "cm4x7k9r40007l5p8c1n6w0qe",
                  "externalBookingId": "hh-558201",
                  "externalReservationId": "HMX4Q2ZP8A",
                  "provider": "HOSTHUB",
                  "channel": "Airbnb",
                  "channelCode": "airbnb",
                  "propertyId": "cm4x7k2q10001l5p8zv3h9d2a",
                  "propertyName": "Villa Anemos",
                  "checkinDate": "2026-08-10",
                  "checkoutDate": "2026-08-15",
                  "nights": 5,
                  "guestCount": 4,
                  "guestCountry": "DE",
                  "nationality": "DE",
                  "currency": "EUR",
                  "amountCents": 125000,
                  "amountBreakdown": null,
                  "manuallyCorrected": false,
                  "cancelled": false,
                  "cancelledAt": null,
                  "cancellationFeeCents": null,
                  "split": null,
                  "invoicing": {
                    "status": "issued",
                    "documentType": "receipt",
                    "skipped": false,
                    "issuedAt": "2026-08-15T09:30:12.000Z",
                    "failedAt": null
                  },
                  "historicalImport": false,
                  "bookedAt": "2026-05-21T17:44:03.000Z",
                  "createdAt": "2026-05-21T17:50:00.000Z",
                  "updatedAt": "2026-08-15T09:30:12.000Z"
                }
              }
            }
          },
          "304": {
            "description": "Not modified — If-None-Match matched; no body",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed per minute for this API key"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the current one-minute window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "UTC epoch seconds when the current one-minute window ends (Remaining resets to the full limit)"
              },
              "ETag": {
                "schema": {
                  "type": "string"
                },
                "description": "Weak validator of this representation — send it back in If-None-Match"
              }
            }
          },
          "400": {
            "description": "invalid_params — see details",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed per minute for this API key"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the current one-minute window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "UTC epoch seconds when the current one-minute window ends (Remaining resets to the full limit)"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "unauthorized",
                        "insufficient_scope",
                        "feature_not_in_plan",
                        "not_found",
                        "export_expired",
                        "invalid_params",
                        "rate_limit_exceeded",
                        "daily_limit_exceeded",
                        "error_budget_exceeded",
                        "payload_too_large",
                        "method_not_allowed",
                        "gone",
                        "internal_error"
                      ],
                      "description": "Stable error code — match on this"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable explanation — may change; never match on it"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {},
                      "description": "insufficient_scope: { requiredScope }. invalid_params: the field errors"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                },
                "example": {
                  "error": "invalid_params",
                  "message": "Invalid request parameters. See details.",
                  "details": {
                    "formErrors": [],
                    "fieldErrors": {
                      "from": [
                        "Invalid ISO date"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "unauthorized — missing, invalid or revoked API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "unauthorized",
                        "insufficient_scope",
                        "feature_not_in_plan",
                        "not_found",
                        "export_expired",
                        "invalid_params",
                        "rate_limit_exceeded",
                        "daily_limit_exceeded",
                        "error_budget_exceeded",
                        "payload_too_large",
                        "method_not_allowed",
                        "gone",
                        "internal_error"
                      ],
                      "description": "Stable error code — match on this"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable explanation — may change; never match on it"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {},
                      "description": "insufficient_scope: { requiredScope }. invalid_params: the field errors"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                },
                "example": {
                  "error": "unauthorized",
                  "message": "Missing, invalid or revoked API key."
                }
              }
            }
          },
          "403": {
            "description": "insufficient_scope (the scope is named in details.requiredScope and in the WWW-Authenticate header) · feature_not_in_plan",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed per minute for this API key"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the current one-minute window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "UTC epoch seconds when the current one-minute window ends (Remaining resets to the full limit)"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "unauthorized",
                        "insufficient_scope",
                        "feature_not_in_plan",
                        "not_found",
                        "export_expired",
                        "invalid_params",
                        "rate_limit_exceeded",
                        "daily_limit_exceeded",
                        "error_budget_exceeded",
                        "payload_too_large",
                        "method_not_allowed",
                        "gone",
                        "internal_error"
                      ],
                      "description": "Stable error code — match on this"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable explanation — may change; never match on it"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {},
                      "description": "insufficient_scope: { requiredScope }. invalid_params: the field errors"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                },
                "example": {
                  "error": "insufficient_scope",
                  "message": "This API key does not have the read:bookings scope.",
                  "details": {
                    "requiredScope": "read:bookings"
                  }
                }
              }
            }
          },
          "404": {
            "description": "not_found — no such resource for this account",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed per minute for this API key"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the current one-minute window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "UTC epoch seconds when the current one-minute window ends (Remaining resets to the full limit)"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "unauthorized",
                        "insufficient_scope",
                        "feature_not_in_plan",
                        "not_found",
                        "export_expired",
                        "invalid_params",
                        "rate_limit_exceeded",
                        "daily_limit_exceeded",
                        "error_budget_exceeded",
                        "payload_too_large",
                        "method_not_allowed",
                        "gone",
                        "internal_error"
                      ],
                      "description": "Stable error code — match on this"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable explanation — may change; never match on it"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {},
                      "description": "insufficient_scope: { requiredScope }. invalid_params: the field errors"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                },
                "example": {
                  "error": "not_found",
                  "message": "The requested resource does not exist."
                }
              }
            }
          },
          "429": {
            "description": "rate_limit_exceeded · daily_limit_exceeded · error_budget_exceeded (too many failed requests from this key today)",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed per minute for this API key"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the current one-minute window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "UTC epoch seconds when the current one-minute window ends (Remaining resets to the full limit)"
              },
              "Retry-After": {
                "schema": {
                  "type": "string"
                },
                "description": "Seconds to wait before retrying"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "unauthorized",
                        "insufficient_scope",
                        "feature_not_in_plan",
                        "not_found",
                        "export_expired",
                        "invalid_params",
                        "rate_limit_exceeded",
                        "daily_limit_exceeded",
                        "error_budget_exceeded",
                        "payload_too_large",
                        "method_not_allowed",
                        "gone",
                        "internal_error"
                      ],
                      "description": "Stable error code — match on this"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable explanation — may change; never match on it"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {},
                      "description": "insufficient_scope: { requiredScope }. invalid_params: the field errors"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                },
                "example": {
                  "error": "rate_limit_exceeded",
                  "message": "Too many requests. Retry after the number of seconds in the Retry-After header."
                }
              }
            }
          }
        },
        "summary": "Get a booking",
        "description": "One booking"
      }
    },
    "/documents": {
      "get": {
        "tags": [
          "Resources"
        ],
        "security": [
          {
            "ApiKeyAuth": [
              "read:documents"
            ]
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "maxLength": 256,
              "description": "Opaque cursor from the previous page’s nextCursor"
            },
            "required": false,
            "description": "Opaque cursor from the previous page’s nextCursor",
            "name": "cursor",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page size — default 50, at most 200 (larger values are capped)"
            },
            "required": false,
            "description": "Page size — default 50, at most 200 (larger values are capped)",
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "ISO 8601 date-time — only records updated at or after it"
            },
            "required": false,
            "description": "ISO 8601 date-time — only records updated at or after it",
            "name": "updated_since",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256,
              "pattern": "^[^\\s/\\\\\\p{Cc}]+$/u",
              "description": "Only documents of this booking"
            },
            "required": false,
            "description": "Only documents of this booking",
            "name": "bookingId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests allowed per minute for this API key"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "string"
                },
                "description": "Requests left in the current one-minute window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "string"
                },
                "description": "UTC epoch seconds when the current one-minute window ends (Remaining resets to the full limit)"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Opaque — the same document always has the same id"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "service_receipt",
                              "service_invoice",
                              "payment_receipt",
                              "climate_fee_receipt"
                            ]
                          },
                          "provider": {
                            "type": "string",
                            "description": "Invoicing provider (ELORUS, KISSBILL) — open set"
                          },
                          "providerDocumentId": {
                            "type": "string"
                          },
                          "bookingId": {
                            "type": "string"
                          },
                          "propertyId": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "issueDate": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Climate resilience fee receipts only"
                          },
                          "amountCents": {
                            "type": [
                              "number",
                              "null"
                            ],
                            "description": "Climate resilience fee receipts only"
                          },
                          "currency": {
[...]
